[master ecaaa90] Prepare for deployment to Render and Vercelcat
 8 files changed, 171 insertions(+), 96 deletions(-)
 create mode 100644 render.yaml
 create mode 100644 services/frontend/.env.example
 create mode 100644 services/frontend/.env.production
 create mode 100644 services/frontend/vercel.json
.vercel
