services:
  - type: web
    name: school-management-api
    env: node
    region: frankfurt
    plan: free
    buildCommand: cd services/backend && npm install
    startCommand: cd services/backend && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_REFRESH_SECRET
        generateValue: true
      - key: DATABASE_URL
        sync: false
      - key: DB_HOST
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_NAME
        sync: false
      - key: CORS_ORIGIN
        sync: false
